section.section {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
@font-face {
font-family: "ProductSans";
src: url("https://telecoastur.com/assets/fonts/ProductSans.eot");
src: 
url("https://telecoastur.com/assets/fonts/ProductSans.woff") format("woff"),
url("https://telecoastur.com/assets/fonts/ProductSans.otf") format("opentype"),
url("https://telecoastur.com/assets/fonts/ProductSans.svg") format("svg");
}